body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#title{
    background-image: url(img/russia-front.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}
#help p{
    margin: 0;
    color: transparent;
    font-size: 0.1px;
}
#help a{
    color: transparent;
    font-size: 0.1px;
}
h1{
    font-size: clamp(2rem, 5vw, 6rem);
    text-align: center;
    margin: 0;
    margin-top: 30vh;
}
h3{
    font-size: clamp(1.5rem, 3vw, 3rem);
    text-align: center;
    color: rgb(172, 0, 0);
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px  1px 0 black, 1px  1px 0 black;
}
a{
    color: black;
    text-decoration: none;
}
.block{
    height: 50vh;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.block div:first-child{
    height: 20%;
}
.block div:last-child{
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
}
h2{
    margin: 0;
    margin-left: 5vw;
    padding: 25px;
    font-size: 2vw
}
.block img{
    object-fit: cover;
    margin-left: 2vw;
    height:auto;
    width: 25%;
    height: 80%;
}
p{
    font-size: 1vw;
    flex: 1;
}
#n1{
    background-color: maroon;
}
#n1:hover{
    background-color: hsl(0, 100%, 30%);
}
#n2{
    background-color: hsl(34, 57%, 60%);
}
#n2:hover{
    background-color: hsl(34, 57%, 70%);
}
#n3{
    background-color: hsl(43, 74%, 49%);
}
#n3:hover{
    background-color: hsl(43, 74%, 59%);
}
#n4{
    background-color:hsl(271, 76%, 53%);
}
#n4:hover{
    background-color: hsl(271, 76%, 63%);
}
#n5{
    background-color:hsl(240, 64%, 27%);
}
#n5:hover{
    background-color: hsl(240, 64%, 37%);
}
#n6{
    background-color: hsl(160, 100%, 70%);
}
#n6:hover{
    background-color: hsl(160, 100%, 80%);
}